.body {
  @apply relative;
}

.waveWrapper {
  @apply absolute w-full;
  height: 5%;
  top: -119px;
}

.wave {
  background: url("../../public/wave.svg")
    repeat-x;

  @apply absolute top-0 left-0;
  width: 1440px;
  height: 120px;

  &:nth-of-type(2) {
    margin-left: -100px;
    opacity: 0.2;
  }
}
