.outerContainer {
  @apply w-screen bg-none flex bg-primary-darkest relative;
  &::after,
  &::before {
    background: url("../../public/wave.svg")
      repeat-x;
    content: " ";
    background-size: contain;
    background-position: bottom;
    @apply absolute bottom-0 left-0 h-20 laptop:h-32 z-20 min-w-full;
    width: 200vw;
  }

  &::before {
    @apply -left-20 right-0 opacity-20;
  }
}

.innerContainer {
  @apply w-full container desktop:max-w-7xl mx-auto flex flex-col px-4 pt-10 pb-44 laptop:py-32 laptop:pb-64;
  @screen laptop {
    @apply grid my-auto place-items-center;
    grid-template-columns: auto 1fr;
    grid-template-areas: "content fancy";
  }
}

.fancySide {
  @apply inline-block mx-auto;
  @screen laptop {
    grid-area: fancy;
  }
}

.intro {
  @apply flex flex-col leading-10;
  @screen laptop {
    @apply mr-10;
    grid-area: content;
  }

  .socialIcons {
    @apply text-white text-4xl flex space-x-4 mt-4 mr-auto border-t-2 border-secondary-lightest py-4;
  }
}
